# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
ENV/
.env

# Ignore IDE/project files
*.idea/
*.vscode/
*.swp

# Ignore data and model files
learned_faces.pkl
*.h5
*.ckpt

# Ignore logs
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore test outputs
htmlcov/
coverage.xml

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
